@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .productItems {
    width: 70vw;
    height: 45vh;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 20px 10px;
    margin-top: 5vh;
    cursor: pointer;
  }
  .product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-item .image {
    width: 60vw;
    height: 30vh;
    border-radius: 10px;
    cursor: pointer;
  }
  .product-item h2 {
    color: #fff;
    margin-bottom: 40px;
    cursor: pointer;
  }
  a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
}
