@font-face {
  font-family: "Poppins-extraLight";
  src: url("./components/fonts/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "Poppins-light";
  src: url("./components/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-bold";
  src: url("./components/fonts/Poppins/Poppins-Bold.ttf");
}
/* -------- Kathi ---------------*/
@font-face {
  font-family: "Poppins-Regular";
  src: url("./components/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Roboto-button";
  src: url("./components/fonts/Roboto/Roboto-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='90' viewBox='0 0 100 100' style='fill:black;font-size:64px; transform:rotate(-25deg);'><text y='40%'>🍴</text></svg>"),
    auto;
}

/* ======= GENERALS ======= */
.App {
  text-align: center;
}
.productItems img {
  width: 60px;
}
.productList {
  display: grid;
  grid-template: repeat(3, 1fr);
}

.strInstructions {
  width: 75vw;
  font-size: 6px;
  margin: 0 auto;
  text-align: center;
}
